<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>OYDY</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="https://oydy.s3.eu-west-2.amazonaws.com/assets/images/ico.ico">

    <!-- CSS
    ========================= -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://oydy.s3.eu-west-2.amazonaws.com/assets/css/bootstrap.min.css">

    <!-- Plugins CSS -->
    <link rel="stylesheet" href="https://oydy.s3.eu-west-2.amazonaws.com/assets/css/plugins.css">

    <!-- Main Style CSS -->
    <link rel="stylesheet" href="https://oydy.s3.eu-west-2.amazonaws.com/assets/css/style.css">

    <!-- Modernizer JS -->
    <script src="https://oydy.s3.eu-west-2.amazonaws.com/assets/js/vendor/modernizr-2.8.3.min.js"></script>

    <!-- Facebook Pixel Code -->
    <script>
      !function(f,b,e,v,n,t,s)
      {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};
      if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
      n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t,s)}(window, document,'script',
      'https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '2463638783908801');
      fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
      src="https://www.facebook.com/tr?id=2463638783908801&ev=PageView&noscript=1"
    /></noscript>
    <!-- End Facebook Pixel Code -->
</head>

<body>

<!-- Main Wrapper Start -->
<div class="main-wrapper">
    <!-- header-area start -->
    <header class="header header-sticky">
        <!-- header-top start -->
        <div id="main-menu" class="header-top inner-header">
            <div class="container">
                <div class="row header-top-inner">
                    <div class="col-lg-4">
                        <div class="logo">
                             <a href="/{{ get_params }}"><img src="https://oydy.s3.eu-west-2.amazonaws.com/assets/images/logo/logo-2.png" alt=""></a>
                        </div>
                    </div>
                    <div class="col-lg-8">

                    </div>
                    <div class="col">
                        <!-- mobile-menu start -->
                        <div class="mobile-menu d-block d-lg-none"></div>
                        <!-- mobile-menu end -->
                    </div>
                </div>
            </div>
        </div>
        <!-- Header-top end -->
    </header>
    <!-- Header-area end -->

    <!-- Success Start -->
    <div id="pricing" class="priceing-package-area section-ptb">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 ml-auto mr-auto">
                    <div class="section-title pb--50">
                        <h2>Thank you</h2>
                        <p>We appreciate your choice. The app will be available in store very soon.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Success End -->



</div>
<!-- Main Wrapper End -->

<!-- JS
============================================ -->

<!-- jQuery JS -->
<!-- <script src="https://oydy.s3.eu-west-2.amazonaws.com/assets/js/vendor/jquery-1.12.4.min.js"></script> -->
<!-- Popper JS -->
<!-- <script src="https://oydy.s3.eu-west-2.amazonaws.com/assets/js/popper.min.js"></script> -->
<!-- Bootstrap JS -->
<script src="https://oydy.s3.eu-west-2.amazonaws.com/assets/js/bootstrap.min.js"></script>
<!-- Plugins JS -->
<!-- <script src="https://oydy.s3.eu-west-2.amazonaws.com/assets/js/plugins.js"></script> -->
<!-- Ajax Mail -->
<!-- <script src="https://oydy.s3.eu-west-2.amazonaws.com/assets/js/ajax-mail.js"></script> -->
<!-- Main JS -->
<!-- <script src="https://oydy.s3.eu-west-2.amazonaws.com/assets/js/main.js"></script> -->


</body>

</html>
